body {
    background-color: aquamarine;
    margin-top: 50px;
}
h1 {
    text-align: center;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button {
    font-size:medium;
    display: flex;
    margin-bottom: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    padding: 5px;
    margin-left: 5px;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}